@import "colors.css";

#article_format{
  font-family: "Basic",sans-serif;
  font-size: 1.3rem;
  width:60vw;
  margin: 0 auto;
  padding:4rem 0;
  line-height: 1.8;
}

#article_format h2{
  font-size: 2.1rem;
}

#article_format img{
  display: block;
  margin:2rem auto;
  width:80%;
  border-radius: 10px;
}

#article_format a{
  display: inline-block;
  text-decoration: none;
  position: relative;
  color: var(--page-link-green);
}


#article_format a::after{
  content : " ";
  position:absolute;
  height: 2px;
  background-color:var(--page-dark-green);
  top:25px;
  left:-1px;
  width:0;
  transition: width 0.7s cubic-bezier(0.39, 0.67, 0, 0.99)
}

#article_format a:hover::after{
  width:100%;
}
