@import 'colors.css';

.styled_btn {
    display: inline-block;
    background: var(--page-font-green);
    border: 0;
    line-height: 2.5em;
    padding: 0 0 0 1em;
    margin-bottom: 1em;
    outline: none;
    text-decoration: none;
    color: var(--page-pastel-green);
    border-radius: 10px;
    box-shadow: 5px 5px 20px -9px #000000;
}

.styled_btn span {
    display: inline-block;
    line-height: 2.5em;
    text-align: center;
    background: var(--page-dark-green);
    color: var(--page-pastel-green);
    font-size: 1em;
    width: 2.5em;
    transition: margin 200ms;
    margin-left: .75em;
    border-radius: 0 10px 10px 0;
}

.styled_btn:hover {
    background: var(--page-button-green);
    color: var(--page-dark-green);
}

.styled_btn:hover span {
    margin-left: 1.25em;
    background: var(--page-font-green);
}

.styled_btn:active {
    background: #ccc;
}

.styled_btn:active span {
    margin-left: 1.5em;
}



.move_down_btn{
    color:#fff;
    height:50px;
}



#back_to_top{
    font-size: 2rem;
    background-color: var(--page-button-green);
    position:fixed;
    bottom:2rem;
    right:-5rem;
    padding:0.6rem 1rem;
    border-radius: 100%;
    transition: 0.3s ease-in-out;
}

#back_to_top.is_active{
    right: 2rem;
}


#back_to_top.is_active.move_up{
    bottom: 15rem;
}