@font-face{
  font-family:"Maxi Round";
  src:url(../fonts/ABCMaxiRound-Bold.woff)format("woff");
}


:root {
  --page-green: #1ea873;
  --page-font-green:#01291a;
  --page-white: #fff;
  --page-orange:#f0aa6c;
  --page-black :#000;
  --page-yellow:#EDB230;
  --page-pastel-green:#b3e1cf;

  --logo-font:"Maxi Round",cursive;
}

