@font-face{
  font-family:"Maxi Round";
  src:url(../fonts/ABCMaxiRound-Bold.woff)format("woff");
}

@font-face{
  font-family:"Basic";
  src:url(../fonts/Basic.woff)format("woff");
  font-weight: normal;
}

@font-face{
  font-family: "Basic";
  src:url(../fonts/Basic_900.woff)format("woff");
  font-weight: bold;
}


:root {
  --page-green: #1ea873;
  --page-font-green:#01291a;
  --page-light-green:#90bdaa;
  --page-white: #fff;
  --page-orange:#ffa557;
  --page-black :#000;
  --page-yellow:#EDB230;
  --page-pastel-green:#b3e1cf;
  --page-olive:#346e59;;
  --page-dark-green:#01140d;
  --page-font-pink:#2f0317;
  --page-pastel-dark-green:#8ee0c1;

  --logo-font:"Maxi Round",cursive;
}

