@import './colors.css';

#contact {
    width: 80%;
    margin: 15vh auto; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#contact section {
    grid-column: 1/2;
    text-align: center;
    padding: 4em;
}

#contact section iframe {
    width: 100%;
    height: 85%;
}

#contact #form h2 {
    width: 80%;
    text-align: center;
}


#contact #form div {
    display: grid;
    margin-top: 1em;
    width: 80%;
}

#contact #form div {
    margin-bottom: .5em;
}

#contact #form div:last-child {
    text-align: center;
}

#contact #form {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    padding: 4em;
}

#contact #form div:nth-child(6) label {
    display: block;
    color: var(--page-dark-green);
}


#contact #form div:last-child button {
    display: inline-block;
    padding: 0 1em;
    width: 5em;
}

#contact #form textarea {
    margin-top: 1em;
    resize: none;
}

#contact .styled_input {
    position: relative;
    margin: auto;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}

#contact .styled_input .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
}

#contact .styled_input .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
}

#contact .styled_input input {
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    height: 4em;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    transition: all 0.15s ease;
    padding: .4em 1em;
}

#contact .styled_input input:hover {
    background: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}

#contact .styled_input input:not(:placeholder-shown) + .label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

#contact .styled_input input:focus {
    background: rgba(0, 0, 0, 0.05);
    outline: none;
    box-shadow: inset 0 -2px 0 var(--page-dark-green);
}

#contact .styled_input input:focus + .label {
    color: var(--page-dark-green);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

#contact .styled_input input:focus + .label + .focus-bg {
    transform: scaleX(1);
    transition: all 0.1s ease;
}

#feedback {
    min-height: 0;
    padding: 0;
    margin: 0;
    color: inherit;
    font-weight: bold;
}

#feedback.negative {
    min-height: content;
    color: red;
}

#feedback.positive {
    min-height: content;
    color: var(--page-dark-green);
}

@media screen and (max-width: 1300px) {
    #contact {
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    #contact {
        display: flex;
        flex-direction: column;
    }

    #contact section {
        padding: 2em;
        margin-bottom: 5em;
    }

    #contact section iframe {
        height: 100%;
    }

    #contact #form {
        padding: 2em;
    }

    #contact #form h2, #contact #form div {
        width: 100%;
    }

    #contact #form textarea {
        width: 90%;
    }
}
