@import 'colors.css';



#gen_page > main{
  top: 7vh;
}

/* banner area  */
#gen_page > main > div:first-child {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height:77vh;
  width:100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color:#ffffff;
}




/* The different banners for different pages */

#accomodation_banner{
  background-image: url("../images/accomodation.jpg");
}
#gen_page > main > #adventure_banner{
  background-image: url("../images/adventure.jpg");
  background-position: center;
}

#gen_page > main > #attractions_banner{
  background-image: url("../images/attractions.webp");
}




/* font stuff for banner div */
#gen_page > main > div:first-child h1{
  font-family: "Koulen";
  padding-top: 4rem;
  font-size: 7rem;
  letter-spacing: 2px;
}


#gen_page > main > div:first-child a img{
  border: 2px solid white;
  border-radius: 100%;
}

/* Search area */
#gen_page > main > div:nth-child(2){
  font-family: "Basic",sans-serif;
  width:77vw;
  margin: 2rem auto;
  display: grid;
  border-radius: 10px;
  box-shadow: 5px 5px 15px -9px #012d00;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--page-light-green);
  padding:2rem;
  gap:2rem;
}

/* main heading for the search area */
#gen_page > main > div:nth-child(2) >h1{
font-size: 2rem;
grid-column: 1/3;
text-align: center;
}

#gen_page > main > div:nth-child(2) >form{
  font-size: 2rem;
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  #gen_page > main > div:nth-child(2) >form > input {
    font-size: 1.3rem;
    width:100%;
    height:35%;
    border-radius: 10px;
    padding:4px;
    border:none;
    }


#gen_page > main > div:nth-child(2) >div{
  grid-row: 2/3;
  grid-column: 1/4;
  display: flex;
  flex-flow: column nowrap;
  align-items:center;
  justify-content:space-around;
}

#gen_page > main > div:nth-child(2) >div >section{
  display: grid;
  border-radius: 10px;
  box-shadow: 5px 5px 15px -9px #000000;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--page-pastel-green);
  padding:2rem;
  margin:1.6rem auto;
}

#gen_page > main > div:nth-child(2) >div >section > img{
  grid-column: 1/2;
  grid-row: 1/4;
  width: 100%;
}

#gen_page > main > div:nth-child(2) >div >section > h3{
  grid-column: 2/4;
  font-size: 2rem;
  margin:0;
  padding:0;
}

#gen_page > main > div:nth-child(2) >div >section > p{
  font-size: 1.3rem;
  grid-column: 2/4;
  grid-row:2/3;
  text-align: justify;
}







@media screen and (max-width: 1100px) {

  #gen_page > main > div:first-child {
    height:60vh;
  } 

  #gen_page > main > div:first-child h1{
    font-family: "Koulen";
    padding-top: 10rem;
    font-size: 5rem;
    letter-spacing: 1px;
  }





  /* Search area */
  #gen_page > main > div:nth-child(2){
    width:100vw;
    margin:0;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding:0rem;
  }
  
  /* main heading for the search area */
  #gen_page > main > div:nth-child(2) >h1{
  font-size: 2rem;
  }
  
  #gen_page > main > div:nth-child(2) >form{
    font-size: 1.5rem;
    }
  
    #gen_page > main > div:nth-child(2) >form > input {
      font-size: 1rem;
      width:100%;
      height:35%;
      }
  
  
  #gen_page > main > div:nth-child(2) >div{
    display: flex;
    flex-flow: column nowrap;
    align-items:center;
    justify-content:space-around;
    margin:2rem;
  }
  
  #gen_page > main > div:nth-child(2) >div >section > img{
    width: 100%;
  }
  
  #gen_page > main > div:nth-child(2) >div >section > h3{
    font-size: 1.5rem;
  }
  
  #gen_page > main > div:nth-child(2) >div >section > p{
    font-size: 1.2rem;
  }

}



@media screen and (max-width: 700px) {

  #gen_page > main > div:first-child h1{
    padding-top: 13rem;
    font-size: 3.5rem;
  }


  #gen_page > main > div:first-child a img{
    width: 30px;
  }

  #gen_page > main > div:nth-child(2) >div >section{
    row-gap: 1rem;
  }
  
  #gen_page > main > div:nth-child(2) >div >section > img{
    grid-column: 1/4;
    grid-row: 1/2;
    width:80%;
    margin:0 auto;
  }
  
  #gen_page > main > div:nth-child(2) >div >section > h3{
    grid-column: 1/4;
    grid-row: 2/3;
    font-size: 2rem;
    margin: 0 auto;
  }
  
  #gen_page > main > div:nth-child(2) >div >section > p{
    font-size: 1.3rem;
    grid-column: 1/4;
    grid-row:3/4;
    margin: 0 auto;
  }


}


@media screen and (max-width: 490px) {
  #gen_page > main > div:first-child h1{
    padding-top: 7rem;
    font-size: 2.3rem;
    text-align: center;
  }
}




@media screen and (max-height: 700px) {

  #gen_page > main > div:first-child a img{
    display: none;
  }
}