@import 'general_design.css';
@import 'animations.css';
@import 'colors.css';

body{
  margin:0;
  padding:0;
  background-color: var(--page-green);
  color: var(--page-font-green);
}

header{
  border-bottom: 2px solid var(--page-yellow);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:1.4rem 0;
  transition:0.6s;
}

header nav{
  display:flex;
  flex-flow:row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  margin:0rem auto;
}

header .sticky{

}

header nav ul{
  font-family: "Nunito",sans-serif;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
  color: var(--page-white);

}

header nav ul li{
  margin: 0 1rem;
}

#brand{
  font-family:"Koulen";
  font-size: 3rem;
  margin:-1rem;
  color: var(--page-white);
}

footer{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  font-family: "Nunito",sans-serif;
  padding: 1rem;
  background-color: var(--page-pastel-green);
  color:var(--page-font-green);
}

.footer_nav{
  grid-column: 1/3;
}

footer .nav_links{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.no_bullets{
  list-style-type: none;
}

.social_media_icons{
  border-left: 1px solid var(--page-black);
  display: flex;
  flex-flow:row nowrap;
  align-items: center;
  justify-content: space-around;
  width:80%;
  margin:0 auto;
}

.social_media_icons svg{
margin:0 1rem;
width:40px;
}


/* home main */
#home_page > main {
    margin-bottom: 5em;
}

/* home main decoration section */
#home_page > main section:first-child {
    height: 90vh;
}

/* home main info section */
#home_page > main section:last-child {
    width: 80%;
    margin: 0 auto;
}

#home_page > main section:last-child > article {
    display: flex;
    align-items: center;
    padding: 2em;
}

#home_page > main section:last-child > article > figure {
    flex-basis: 40%;
    text-align: center;
    min-width: 600px;
}

#home_page > main section:last-child > article > figure img {
    max-width: 500px;
}

#home_page > main section:last-child > article > div {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home_page > main section:last-child > article > div p {
    line-height: 1.5;
}

#home_page > main section:last-child > article > div button {
    margin-top: 2em;
    /* align-self: start; left or centered?*/
}
