@import 'general_design.css';
@import 'animations.css';
@import 'colors.css';

/* the icons thing, I don't know if you were thinking on having the background black and */  
/* the icon itself red, but with our current svgs it won't be possible because they are */ 
/* like a hole, so we get the color from the background, I can try to generate a svg */ 
/* with gimp that gives us does properties. I tried changing the background color of */ 
/* each icon but feels dirty. */

/* .social_icon { */
/*     fill:red; */
/* } */


body{
  margin:0;
  padding:0;
}

header{
  background-color: var(--page-green);
  border-bottom: 2px solid var(--page-yellow);
  position:sticky;
}

header nav{
  display:flex;
  flex-flow:row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  margin:0 auto;
 
}

header nav ul{
  font-family: "Nunito",sans-serif;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
  color: var(--page-white);

}


header nav ul li{
  margin: 0 1rem;
}

#brand{
  font-family:"Koulen";
  font-size: 3rem;
  margin:-1rem;
  color: var(--page-white);
}


#page_background{
background-color: var(--page-green);
height:400vh;

}