@import 'colors.css';
@import 'buttons.css';
@import 'general_page.css';
@import 'article_page.css';
@import 'simple_layout.css';
@import 'contact.css';
@import 'tips.css';

/* to disable horizontal scrolling */
html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
  
p{
  font-family: "Basic",sans-serif;
}

body{
  margin:0;
  padding:0;
  background-color: var(--page-pastel-green);
  color: var(--page-font-green);
  position: relative;
}

header{
  border-bottom: 2px solid var(--page-yellow);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  padding:1rem 0;
  transition:0.2s padding ease-in;
  background-color: var(--page-pastel-green);
  z-index: 101;
}

.sticky{
  padding:0rem 0;
}


header nav ul{
  font-family: "Nunito",sans-serif;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
  color: var(--page-font-green);

}

header nav ul li{
  margin: 0 1rem;
}

header > nav > ul > li > a {
    cursor: pointer;
}

header a{
  text-decoration: none;
  color: var(--page-font-green);
}


#brand{
  font-family:"Koulen";
  font-size: 2.5rem;
  margin:0rem;
  color: var(--page-font-green);
}

header nav{
  position:relative;
  display:flex;
  flex-flow:row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  margin:0rem auto;
}

/* for dropdown in ddesktop nav */


#page_header > .dropdown{
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  max-height:0;
  transition:0.4s;
  opacity:0;
  background-color: var(--page-pastel-dark-green);
  z-index: 100;
  border-top: 1px solid var(--page-yellow);
  top:10vh;
  width:100%;
  margin:0;
  padding:0;
  list-style-type: none;
}

.dropdown li{
  font-family: "Nunito";
}

#page_header .dropdown li a{
  display:none;
  margin:0.5rem auto;
}

#page_header > .show li a{
  display: block;
}
#page_header > .show{
  max-height: 100vh;
  opacity:1;
}


/*  for mobile navigation */

#menu_toggle{
  display: none;
}


#mobile_nav{
  font-family: "Nunito",sans-serif;
  position:fixed;
  min-width: 100vw;
  min-height:100vh;
  background-color: #fff;
  right:100vw;
  z-index: 100;

}

#mobile_nav > ul{
  margin: 10vh auto;
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding:0;
}

#mobile_nav .dropdown{
  max-height:0;
  max-width: 0;
  transition: 1s cubic-bezier(0.21, 0.29, 0.1, 0.96);
  overflow-y: hidden;
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  opacity:0;
  padding:0;
  margin:0;
  z-index: 100;
  list-style-type: none;
 
}

#mobile_nav > ul li{
  margin:2rem;
}

#mobile_nav > ul > li:nth-child(3){
  margin:0;
  width:100%;
  background-color: var(--page-pastel-dark-green);
}

#mobile_nav ul li a{
  color:var(--page-font-green);
  text-decoration: none;
  cursor: pointer;
}

/* home main */
#home_page > main {
    margin-top: 5vh;
    margin-bottom: 5em;
}

#home_page > main .banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
#home_page > main .banner h1 {
  font-family: "Maxi Round", cursive;
  font-size: 23vw;
  padding: 0;
  margin: 0;
}

/* home main decoration section */
/* #home_page > main section:first-child > div:first-child { } */

#home_page > main section:last-child > article {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    margin-bottom: 4em;
    opacity: 0;
    transition: 300ms;
}

#home_page > main section article div h2{
  font-family: "Basic";
  font-weight: bold;
  font-size: 3rem;
}

#home_page > main section article div p{
  font-family: "Basic";
  font-weight: normal;
  font-size: 1.3rem;
}
/* article sliding effect */
#home_page > main section:last-child > article:nth-child(odd) {
    transform: translateX(-60%);
}

#home_page > main section:last-child > article:nth-child(even) {
    transform: translateX(60%);
}

#home_page > main section:last-child > article.slide {
    transform: translateX(0);
    opacity: 1;
}

#home_page > main section:last-child > article > figure {
    flex-basis: 35%;
    text-align: center;
    min-width: 37.5rem;
}

#home_page > main section:last-child > article > figure img {
    max-width: 31.25rem;
    border-radius: 10px;
    box-shadow: 5px 5px 20px -9px #000000;
}

#home_page > main section:last-child > article > div {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home_page > main section:last-child > article > div p {
    line-height: 1.5;
}

#home_page > main section:last-child > article > div button {
    margin-top: 2em;
}




footer{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  font-family: "Nunito",sans-serif;
  padding: 1rem;
  background-color: var(--page-dark-green);
  color:#fff;
}

.footer_nav{
  grid-column: 1/3;
}

.footer_nav ul li a {
  color: #fff;
  text-decoration: none;
}

footer .nav_links{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

footer .nav_links a {
    text-decoration: none;
    color: inherit;
}

.no_bullets{
  list-style-type: none;
}

.social_media_icons{
  border-left: 1px solid var(--page-pastel-green);
  display: flex;
  flex-flow:row nowrap;
  align-items: center;
  justify-content: space-around;
  width:80%;
  margin:0 auto;
}

.social_media_icons svg{
margin:0 1rem;
width:40px;
fill:white;
}

.footer_links{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  grid-column: 1/4;
  margin:2rem 0;
}

.footer_links ul{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.footer_links ul li{
  padding: 0 1rem;
}

.footer_links ul li a {
  text-decoration: none;
  color: #fff;
}



@media screen and (max-width: 1300px) {
/* changes for the header into a hamburger menu */

    #menu_toggle{
      display: block;
      cursor: pointer;
    }

    #page_header > nav ul{
      display: none;
    }

    #mobile_nav{
      position:fixed;
      right:100vw;
      top:6vh;
      min-height:100vh;
      background-color: #fff;
      z-index: 100;
      display: block;
      transition: 0.4s;
    }

    #mobile_nav.is_shown{
      right:0;
    }

    #page_header .dropdown{
      display: none;
    }

    #mobile_nav > ul >li > .is_active{
      max-height: 100rem;
      max-width: 100rem;
      width: 90vw;
      opacity: 100%;
      margin:auto;
      transition: 1s cubic-bezier(0.21, 0.29, 0.1, 0.96);
    }

    #mobile_nav > ul >li > .is_active > li{
      width:25%;
      text-align: center;
    }


    #home_page > main > section:first-child{
      margin-top:20vh;
    }


    #home_page > main section:last-child {
        width: 100%;
        margin: 0; 
    }

    #home_page > main section:last-child > article {
        justify-content: space-evenly;
        width: 90%;
        margin: 0 auto;
    }

    #home_page > main section:last-child > article:nth-child(even) {
        justify-content: space-between;
    }
    
    #home_page > main section:last-child > article > figure {
        max-width: 25em;
        min-width: 300px;
    }

    #home_page > main section:last-child > article > figure img {
        max-width: 25rem;
    }

    footer > .footer_nav {
        grid-column: 1/4;
    }

    footer > .social_media_icons {
        border-left: none;
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

/*
 * layout changed 
 * from: article>(div>h2,p1,p2,button),(figure>img)
 * to:   article>h2,p1,p2,(figure>img),button
 * */
@media screen and (max-width: 850px) {
    #home_page > main section:last-child > article {
        width: 100%;
        flex-direction: column;
    }

    #home_page > main section:last-child > article:nth-child(odd) {
        transform: translateX(0);
    }

    #home_page > main section:last-child > article:nth-child(even) {
        transform: translateX(0);
    }

    #home_page > main section:last-child > article{
      padding:0;
    }

    #home_page > main section:last-child > article h2 {
      font-family: "Basic";
      font-weight: bold;
      font-size: 3rem;
    }

    #home_page > main section:last-child > article p {
        width: 80%;
    }

    #home_page > main section:last-child > article figure {
        max-width: 20rem;
    }

    #home_page > main section:last-child > article figure > img {
        max-width: 15rem;
    }

    footer > .footer_nav {
        margin-bottom: 1em;
    }

    footer > .footer_links {
        flex-direction: column;
    }

    footer > .footer_links p {
        order: 2;
        width: inherit;
    }

    footer {
        font-size: 70%;
    }

}

@media screen and (max-width: 550px) {

    #home_page > main section:last-child > article {
        opacity: 1;
        padding: 1rem;
    }

    #home_page > main section:last-child > article h2 {
      font-size: 1.5rem;
    }

    #home_page > main section:last-child > article p {
        width: 70%;
    }

    #home_page > main section:last-child > article figure {
        max-width: 15rem;
    }

    #home_page > main section:last-child > article figure > img {
        max-width: 10rem;
    }

    footer > .footer_nav ul {
        flex-direction: column;
        padding: 0;
    }

    footer > .footer_nav ul li {
        margin-bottom: 1em;
    }

    footer > .footer_links ul {
        flex-direction: column;
        padding: 0;
    }

    footer > .footer_links ul li {
        margin-bottom: 1em;
    }
}
