#simple_layout {
    margin-top: 15vh;
    font-family: "Basic",sans-serif;
    font-size: 1.3rem;
    line-height: 1.8;
}

#simple_layout h2 {
  font-size: 2.1rem;
}

#simple_layout img{
    display: block;
    width:70%;
    border-radius: 10px;
}

#simple_layout section:first-child {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

#simple_layout section article {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

#simple_layout section p {
    width: 80%;
}

#simple_layout section :where(p, ul li) a {
    text-decoration: none;
}


#simple_layout a{
    display: inline-block;
    text-decoration: none;
    position: relative;
    color: var(--page-link-green);
  }
  
  
  #simple_layout a::after{
    content : " ";
    position:absolute;
    height: 2px;
    background-color:var(--page-dark-green);
    top:25px;
    left:-1px;
    width:0;
    transition: width 0.7s cubic-bezier(0.39, 0.67, 0, 0.99)
  }
  
  #simple_layout a:hover::after{
    width:100%;
  }

@media screen and (max-width: 1300px) {
    #simple_layout section p {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    #simple_layout {
        font-size: 1rem;
        line-height: 1.5;
    }

    #simple_layout h2 {
        font-size: 1.5rem;
    }

    #simple_layout section:first-child {
        width: 90%;
    }
    #simple_layout section article {
        width: 90%;
    }
}
